body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color:#000000
  }


.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
}

.slides img {
    width: 100vw;
    height: auto;
}

.button {
    display: inline-block;
    padding: 0.1em 1em;
    margin: 0;

    color: #fff;
    text-align: center;
    text-decoration: none;
  
    border-radius: 0em;
    cursor: pointer;
 
    margin-left: auto;
    height: 100%;
    font-size: 1.48em;
 
  }
  
  .button:hover {
    color: #818181;
    
  }

.brand {
    margin-right: auto;
    margin-left: 0.5em;
}

.top{
    overflow: hidden;
    display: flex;
    
}
header{
    position: relative;
    display: flex;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6); 
 
    
    justify-content:flex-end;
    align-items: center;
    z-index: 1;
}
article h3{
    font-size: 3em;
    margin: 1em;
}
article p{
    font-size: 2em;
    margin: 1em;
}

footer h3{
    color: #ffffff;
}
footer a {
    margin: 0 0.5em;
}
header img {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    
   
}


button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.5);
    border: none;
    color: black;
    font-size: 20px;
    cursor: pointer;
    height: 20%;
}
h1{
    color: #fff;
    font-family: 'Times New Roman Italic', serif;
}
#topicName {
    text-align: center;
    font-size: 3em;


  font-family: "Cormorant", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;

}

.container {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-around;
    gap: 10px;
}

.container img {
    max-width: 100%; 
    max-height: 300px; 
    height: auto; 
    width: auto; 
    border-radius: 8px; 
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.2); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    object-fit: cover; 
    cursor: pointer;
}

.container img:hover {
    transform: scale(1.1);
    box-shadow: 0em 0em 1em rgba(255, 255, 255, 100);
  }



  @media only screen and (max-width: 600px) {
    
    .button, .brand {
        font-size: 0.5em; 
    }
    .logo{
        width: 1em;
        height: 1em;
        border-radius: 50%;
    }

    
  }
  @media only screen and (min-width: 601px) and (max-width: 700px) {
    
    .button, .brand {
        font-size: 1em; 
       
    }
    .logo{
        width: 2em;
        height: 2em;
        border-radius: 50%;
    }
  }

    
        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.8); 
            display: none; 
            justify-content: center;
            align-items: center; 
            z-index: 1000; 
        }

        .enlarged-img {
            max-width: 90%; 
            max-height: 90%; 
            border-radius: 8px; 
        }

        .close-btn {
            position: absolute;
            top: 20px;
            right: 30px;
            background: white;
            border: none;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            cursor: pointer;
            font-size: 30px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
            padding: 0;
        }  